*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.topnav {
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.top-logo {
    width: 20%;
}

li{
    display: inline;
    float: right;
}

a {
    display: block;
    padding: 8px;
}

/* .docplanner-info-wanted {
    display: flex;
    flex-direction: column;
    
} */